/* @media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
} */

.grid {
    height: 30rem;
}

.grid-cabecalho {
    background-color: black;
    color: white;
    font-weight: bold;
}

.grid-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-item-acao {
    cursor: pointer;
    font-size: 25px;
}

.grid-item-id {
    text-decoration: none;
    color: #1767b8;
}

.grid-item-id:hover { 
    text-decoration: underline;
}