.cabecalho {
    display: flex;
    flex: 1;
    background-color: #537956;
    padding: 0 1rem;
}

.cabecalho-logo {
    display: flex;
    flex: 1;
    background-color: white;
    margin: 1rem 0;
}