.cabecalho {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #537956;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.cabecalho-menu {
    display: flex;
    flex: 1;
    padding: 0.5rem 0.5rem;
}

.cabecalho-menu-logo {
    flex: 1;
    background-color: white;
}