.botao-base {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0.5rem;
    height: inherit;
    font-size: inherit;
    font-family: inherit;
}

.botao {
    flex: 1;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 0.2rem;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}

.botao:hover {
    cursor: pointer;
    color: black;
	background-color: #F7CA18;
}

.botao-salvar {
    background-color: #237A2B;
}

.botao-salvar:active {
    background-color: rgba(0, 128, 0, 0.8);
} 

.botao-excluir {
    background-color: red;
}

.botao-excluir:active {
    background-color: rgba(255, 0, 0, 0.8);
} 

.botao-continuar {
    background-color: blue;
}

.botao-continuar:active {
    background-color: rgba(0, 0, 255, 0.8);
} 

.botao-descricao {
    text-align: center;
    margin: -4px;
}