.recipiente {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: sans-serif;
    /* height: calc(100vh - 231px); */
    margin: 1rem;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
}