.menu {
    display: flex;
    flex: 10;
}

.menu-lista {
    display: flex;
    flex: 1;
    text-align: center;
    padding: 0;
}

.menu-item {
    list-style: none;
}

.menu-link {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    align-items: center;
}

.menu-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.menu-link-icone {
    font-size: 35px;
}

.menu-link-descricao {
    cursor: pointer;
    padding-top: 5px;
}