.menu {
    display: flex;
    flex: 10;
}

.menu-lista {
    display: flex;
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
}

.menu-item {
    list-style: none;
}

.menu-item:hover {
    background-color:#436145;
}

.menu-link {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100px;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0.5rem;
}

.menu-link-icone {
    font-size: 35px;
}

.menu-link-descricao {
    cursor: pointer;
    font-weight: bold;
    padding-top: 5px;
}