.acao {
    display: flex;
    flex: 1;
    background-color: #CBED98;
    justify-content: flex-end;
    border: 1px solid rgb(83, 121, 86, 0.4);
    border-radius: 0.2rem;
}

.acao-item {
    margin: 0.5rem;
    display: flex;
    font-size: 40px;
    cursor: pointer;
}

.acao-item-adicionar {
    display: flex;
    color: #2FB80D;
}

.acao-item-adicionar:hover {
    color: rgb(47, 184, 13, 0.8);
}

.acao-item-atualizar {
    display: flex;
    color: #1767b8;
}

.acao-item-atualizar:hover {
    color: rgb(23, 103, 184, 0.8);
}