.entrada-base {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 0.5rem;
}

.entrada-campo {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.entrada-campo-sem-descricao {
    height: 2.5rem;
}

.entrada-campo-com-descricao {
    height: 3.5rem;
}

.entrada-campo-descricao {
    font-weight: bold;
}

.entrada {
    border: 1px solid rgb(83, 121, 86, 0.4);
    border-radius: 0.2rem;
    height: inherit;
    font-family: inherit;
    font-size: inherit;
}