.localizacao {
    display: flex;
    flex: 1;
    background-color: #CBED98;
    font-size: large;
    padding: 0 1rem;
}

.localizacao-local {
    flex-direction: column;
    text-decoration: none;
    padding: 0.2rem 0;
    color: #1767b8;
}

.localizacao-local:hover {
    text-decoration: underline;
}

.localizacao-descricao {
    align-self: center;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
}

.localizacao-separador {
    align-self: center;
    padding: 0.3rem 0.5rem 0 0.5rem;
    color: #2FB80D;
}